/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My formating */
* {
    box-sizing: border-box;
}
html {
    background-image: url(IMG_1992.jpg);
    background-size: contain;
    background-repeat: round;
    padding-bottom: 20px;
}
.header {
    width: 100%;
}
img {
    border-radius: 50% 25% 50% 25%; 
}
#informations {
    font-family: arial, calibri, Times New Roman;
    font-style: oblique;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 150%;
    text-decoration: none;
}
.icons {
    text-align: center;
}
.careerGoal, .school, .currentPosition, .skills, .character, .hobby {
    font-family: calibri, arial, Times New Roman;
    background: rgba(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    word-spacing: 1px;
}
h3 {
    color: yellow;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 10px;
}
.wageDemand {
    margin-top: 20px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
}
#wageDemandH3 {
    color: black;
}
button {
    border-radius: 10px;
    position: relative;
    background-color: #1a6ecf;
    border: none;
    font-size: 1em;
    color: #FFFFFF;
    padding: 8px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1.2s
}
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
#result {
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 1em;
    margin-bottom: -0.5em;
}
@media screen and (max-width: 666px) {
img {
    width: 50%;
    margin: 31% 25% 0 25%;
}
#informations {
    font-size: 120%;
    margin-top: 4em;
}
.icons {
    margin: 1.2em 0 1.2em 0;
}
.careerGoal, .school, .currentPosition, .skills, .character, .hobby {    
    padding: 5%;
    margin: 5%;
}
.wageDemand {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
button {
    width: 40%;
    margin: 1% 30% 0% 30%;
}
}
@media screen and (min-width: 667px) and (max-width: 1023px) {
.image {
    width: 50%;
    display: inline-block;
}
img {
    width: 50%;
    border-radius: 50% 25% 50% 25%;
    margin-top: 3em;
    margin-left: 5em;
}
.informations {
    width: 40%;
    float: right;
    background: rgb(38, 145, 187, 0.6);
    border-radius: 40% 25% 40% 25%;
    margin: 5%;
}
#informations {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-top: 20%;
}
.icons {
    margin: 1.5em 0 1.5em 0;
}
.row {
    display: inline-block;
}
.careerGoal, .school, .currentPosition, .skills, .character, .hobby {
    padding: 5%;
    margin: 2.33%;
    width: 45%;
    display: inline-table;
}
.wageDemand {
    padding-top: 1em;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
button {
    width: 35%;
    margin: 1% 32.5% 0% 32.5%;
}
}
@media  screen and (min-width: 1024px) {
    .image {
        width: 30%;
        display: inline-block;
        margin: 5% 10% 0 10%;
    }
    img {
        width: 50%;
        margin: 15% 25% 10% 25%;
    }
    .informations {
        width: 29.7%;
        float: right;
        background: rgb(38, 145, 187, 0.6);
        border-radius: 50% 50% 50% 50%;
        margin: 9.5% 10.5% 0 0;
    }
    #informations {
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        margin-top: 5%;
    }
    .icons {
        margin: 1.5em 0 1.5em 0;
    }
    .row {
        display: inline-block;
    }
    .careerGoal, .school, .currentPosition, .skills, .character, .hobby {
        padding: 1%;
        margin: 1%;
        width: 31%;
        display: inline-table;
    }
    .wageDemand {
        padding-top: 1em;
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
    button {
        width: 35%;
        margin: 1% 32.5% 0% 32.5%;
    }
}
