/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* My formating */
html {
    background-image: url(0000.jpg);
	background-size: contain;
    background-repeat: round;
    padding-bottom: 20px;
}
.header {
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
    margin: 8%;
}
img {
    width: 100%;
    height: auto;
    border-radius: 50% 25% 50% 25%;
}
.image {
    padding-top: 20px;
    width: 50%;
    margin: auto;
}
.informations {
    text-align: center;
    padding-bottom: 10px;
    height: 150px;
    font-family: arial, calibri, Times New Roman;
    font-style: oblique;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    line-height: 40px;
    border-radius: 25px;
}
#informations {
    color: rgb(0, 0, 0);
    font-size: x-large;
}
.icons {
    width: 90%;
    margin: auto;
}
.school, .currentPosition, .careerGoal, .character, .hobby, .skills, #result {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: calibri, arial, Times New Roman;
    line-height: 18px;
    word-spacing: 1px;
    margin: 22px;
}
.school, .currentPosition, .careerGoal, .character, .hobby, .skills {
    background: rgba(0, 0, 0, 0.5)
}
.skills {
    text-align: center;
}
p {
    margin-bottom: 20px;
}
h3 {
    color: yellow;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.sub-head {
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}
.list {
    margin: auto;
    padding-top: 10px;
    list-style-type: none;
    list-style-position: inside;
}
.wageDemand {
    margin-top: 20px;
}
button {
    width: 30%;
    margin: 1% 35% 0% 35%;
    border-radius: 10px;
    position: relative;
    background-color: #1a6ecf;
    border: none;
    font-size: 100%;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer
}
button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1.2s
  }
  
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
#result {
    padding-top: 20px;
    color: black;
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row {
    width: 100%;
    margin: auto;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    border-radius: 10px;
}
footer {
    text-align: center;
}
@media screen and (max-width: 768px) {
    .column {
      width: 90%;
      padding: 10px;
    }
    .skills, .character, .hobby {
        text-align: center;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .image {
        width: 25%;
        margin: 9% 5% 4% 8%;
        display: inline-block;
    }
    .header {
        display: -webkit-inline-flex;
    }
    .informations {
        margin-top: 15%;
        width: 50%;
    }
    button {
        width: 15%;
        margin: 1% 42.5% 0% 42.5%;
    }
    .column {
        display: inline-grid;
        width: 44%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px) and (min-height: 800px) {
    .image {
        margin-left: 15%;
    }
    .column {
        width: 42%;
        float: none;
    }
}
@media screen and (min-width: 1024px) {
    .img {
        width: 10%;
    }
    .image {
        width: 25%;
        margin-left: 20%;
        display: inline-block;
    }
    .informations {
        margin-top: 3%;
        width: 50%;
        display: inline-block;
    }
    .column {
        width: 27%;
    }
}
